{% extends 'web/base.html' %}
{% block content %}
    <div style = "text-align: center">
        <h2>Авторизация</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Войти</button>
    </div>
    </form>
{% endblock %}
