<!DOCTYPE html>
<html>
<head>
    <title>User Build Portal</title>
</head>
<body>
    <h1><a href="{% url 'main' %}">User Build Portal</a></h1>
    <nav>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <p><a href="{% url 'registration' %}">Регистрация</a></p>
                <a href="{% url 'auth' %}">Авторизация</a>
            </div>
        {% else %}
            <a href="{% url 'build_add' %}"> Загрузить свою конфигурацию</a>
            <div style="text-align: right">
                <p>Вы вошли как <b>{{ user.username }}</b> .  <a href="{% url 'logout' %}"><b>Выход</b> </a></p>
            </div>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>