{% extends 'web/base.html' %}
{% block content %}
    <h2>Добавить конфигурацию</h2>
    {% if not user.is_anonymous %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button>Сохранить</button>
    </form>
    {% else %}
    <b>Сначала войдите в систему</b>
    {% endif %}
{% endblock %}
