{% extends 'web/base.html' %}
{% block content %}

    <h1>Новое на сайте</h1>
    <ul>
        {% for build in builds %}
            <li>
                <hr>
                <b>{{build.name}}</b>

                {{build.description}}

                <p><img src='{{build.image}}' ></p>
                <hr>
            </li>

        {% endfor %}
    </ul>

{% endblock %}