{% extends 'web/base.html' %}
{% block content %}
    <div style = "text-align: center">
        <h2>Регистрация</h2>
        {% if is_success %}
            <p><b>Вы зарегистрировались!</b></p>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Зарегистрироваться</button>
            </form>
        {% endif %}
    </div>
{% endblock %}